@media only screen and (max-width: 750px) {

    .inex_header {
        background-color: rgb(36, 47, 53, 70%);
        padding: 14px 0 18px;
    }

    .inex_container {
        max-width: 714px;
        margin: auto;
    }

    .menu {
        display: none;
    }

    .inex_background {
        background-image: url("../img/img_for_mobile.jpg");
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        margin-bottom: 80px;

    }

    .inex_About_Yourself {
        max-width: 675px;
        margin: auto;
        margin-bottom: 304px;
    }

    .inex_question {
        font-size: 28px;
        margin-bottom: 38px;
    }

    .inex_About_Yourself h2 {
        color: #747a7f;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 90px;
        margin-bottom: 83px;
    }

    .inex_Tell_The_World_About_Yourself {
        color: #747a7f;
        font-size: 29px;
        font-family: 'Open Sans';
        font-weight: 300;
        line-height: 53px;
        margin-bottom: 68px;
    }

    .inex_button {
        border: solid 1px black;
        padding: 44px 90px;
        text-decoration: none;
        color: #021725;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 27px;
    }


    .inex_work h2 {
        color: #747a7f;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 90px;
        margin-bottom: 83px;
    }

    .inex_photo {
        display: block;
    }

    .inex_photo img {
        display: block;
        width: 100%;

    }

    .inex_people {
        max-width: 674px;
        margin: auto;
        margin-bottom: 304px;
    }

    .inex_people h2 {
        color: #747a7f;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 90px;
        margin-bottom: 83px;
    }

    .inex_The_Amazing_People_Behind_This {
        color: #747a7f;
        font-size: 29px;
        font-family: 'Open Sans';
        font-weight: 300;
        line-height: 53px;
        margin-bottom: 68px;
    }

    .inex_Photo_name {
        display: block;

    }

    .inex_Photo_name div img {
        width: 100%;
    }


    .inex_Tobias_Schneider h4 {
        font-size: 29px;
        color: #d4af37;
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: 600;
        margin-bottom: 42px;
    }

    .inex_Tobias_Schneider h3 {
        color: #747a7f;
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 68px;
    }

    .inex_Tobias_Schneider p {
        color: #747a7f;
        font-size: 29px;
        font-family: 'Open Sans';
        font-weight: 300;
        line-height: 53px;
        max-width: 571px;
        margin: auto;
        position: relative;
    }

    .inex_Tobias_Schneider {
        background-color: #f9f9f9;
        padding: 38px 30px 97px;
        margin-bottom: 60px;
    }

    .inex_last_post {
        max-width: 680px;
        margin: auto;
    }

    .inex_last_post h2 {
        color: #747a7f;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 90px;
        margin-bottom: 83px;
    }

    .inex_flex {
        display: block;
    }

    .inex_flex img {
        width: 100%;
    }

    .inex_We_Like_to_Write {
        padding: 83px 55px;
        margin-bottom: 77px;

    }

    .inex_data {
        font-size: 28px;
        margin-bottom: 37px;
    }

    .inex_Your_space {
        font-size: 60px;
        margin-bottom: 66px;
    }

    .inex_We_Like_to_Write p {
        font-size: 29px;
        margin-bottom: 97px;
        line-height: 53px;
    }

    .inex_button_read {
        padding: 35px 90px;
        font-size: 29px;
        font-family: 'Open Sans';
        font-weight: 300;
    }

    .inex_button_More_From_Our_Blog {
        margin-bottom: 305px;
    }


    .inex_button_More_From_Our_Blog a {
        padding: 43px 90px;
        font-size: 30px;
    }

    .inex_contact h2 {
        font-size: 90px;
        margin-bottom: 102px;
    }

    .footer {
        display: block;
    }

    .footer p {
        font-size: 30px;
        line-height: 60px;
    }





    .about_header {
        background-color: rgb(36, 47, 53, 70%);
        padding: 14px 0 18px;
    }

    .about_paragraph {
        font-size: 35px;
        max-width: 687px;
        margin: auto;
        line-height: 46px;
        margin-bottom: 303px;
    }

    .about_service {
        display: block;
    }

    .about_service img {
        width: 100%;
    }

    .about_service_content {
        width: auto;
        padding: 90px 86px 88px;
        background: none;
    }

    .about_flex {
        display: block;
    }

    .about_service_content h2 {
        font-size: 84px;
        margin-bottom: 176px;
    }

    .about_service_paragraph {
        display: block;
        font-size: 31px;
        line-height: 56px;
        max-width: 573px;
        margin: auto;
        margin-bottom: 176px;
    }

    .about_list {
        font-size: 34px;
        line-height: 57px;
    }

    .about_footer {
        display: block;
    }

    .about_footer p {
        font-size: 30px;
        line-height: 60px;
    }






.contact_header {
    background-color: rgb(36, 47, 53, 70%);
    padding: 14px 0 18px;

}

.contact_container {
    max-width: 714px;
}


.contact_background {
    background-image: none;
    height: 127px;
}

.contact_section h3 {
    font-size: 28px;
    margin-bottom: 48px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.contact_section h2 {
    font-size: 90px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 159px;
}

.contact_flex_container {
    display: block;
    max-width: 670px;
    margin: auto;
    margin-bottom: 194px;
}

.contact_country {
    max-width: 100%;
    font-size: 46px;
    line-height: 59px;
    padding: 60px 61px 127px;
}

.contact_country:before, .contact_border:before {
    display: block;
    content: "";
    height: 6px;
    width: 58px;
    margin-bottom: 88px;
}

.contact_flex_container img {
    width: 99.5%;
}

.contact_description {
    font-size: 30px;
    max-width: 100%;
    padding: 70px 93px 80px;
    line-height: 47px;
}

.contact_number {
    max-width: 90.3%;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 46px;
    line-height: 58px;
    padding: 103px 64px 83px;
}

.contact_button {
    margin-bottom: 190px;
}

.contact_button a {
    font-size: 27px;
    font-family: 'Open Sans';
    font-weight: normal;
    padding: 43px 104px;
}








    .work_header {
        background-color: rgb(36, 47, 53, 70%);
        padding: 14px 0 18px;
    }

    .work_background {
        background-image: url("../img/work_back_mobile.jpg");
        height: 1337px;
        margin-bottom: 241px;
    }

    .work_katalog h3 {
        font-size: 28px;
        margin-bottom: 39px;
        font-family: 'Open Sans';
        font-weight: normal;
    }

    .work_katalog h2 {
        font-size: 90px;
        font-family: 'Open Sans';
        font-weight: bold;
    }

    .work_katalog p {
        font-size: 29px;
        max-width: 675px;
        line-height: 46px;
    }

    .work_flex_container {
        display: block;
        padding-left: 0;
    }

    .work_flex_container img {
        display: block;
        width: 100%;

    }





}

@media only screen and (max-width: 360px) {
    .inex_background h1 {
        font-size: 55px;
    }

    .inex_About_Yourself h2 {
        font-size: 44px;
    }

    .inex_Tell_The_World_About_Yourself {
        font-size: 18px;
    }

    .inex_button {
        padding: 23px 48px;
    }

    .inex_question {
        font-size: 13px;
    }

    .inex_work h2 {
        font-size: 44px;
    }

    .inex_people h2 {
        font-size: 44px;
    }

    .inex_The_Amazing_People_Behind_This {
        font-size: 18px;
    }

    .inex_last_post h2 {
        font-size: 44px;
    }

    .inex_contact h2 {
        font-size: 44px;
    }

    .inex_button_More_From_Our_Blog a {
        font-size: 28px;
        padding: 23px 48px;
    }

    .inex_footer p {
        font-size: 16px;
    }

    .inex_feedback_data p {
        font-size: 12px;
    }

    .inex_map_class {
        margin-bottom: 30px;
    }

    .footer p {
        font-size: 14px;
        line-height: 60px;
    }
}



