@import "font.css";


* {
  margin: 0;
  padding: 0;
}

$color:rgba(2, 23, 37, 70%);

.inex_header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 16px;

}

.inex_container {
  max-width: 1185px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inex_header div a {
  display: inline-block;
}

.menu {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 600;
}


@mixin background {
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.owl-carousel {
  position: relative; z-index: 0;
}

.inex_background {
  background-image: url("../img/back.jpg");
  position: relative; z-index: 0;
  @include background;
  height: 100vh;
  margin-bottom: 80px;
}

.inex_background_2 {
  background-image: url("../img/back_about.jpg");
  @include background;
  height: 100vh;
  margin-bottom: 80px;
   h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 300;
     span {
       font-family: 'Open Sans';
       font-style: italic;
     }
  }
}

.inex_background_3 {
  background-image: url("../img/project.jpg");
  @include background;
  height: 100vh;
  margin-bottom: 80px;
  h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 300;
    span {
      font-family: 'Open Sans';
      font-style: italic;
    }
  }
}

.inex_background h1 {
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.inex_background h1 span {
  font-family: 'Open Sans';
  font-style: italic;
}

@mixin max-witch {
  max-width: 770px;
  margin: auto;
  text-align: center;
}

.inex_About_Yourself {
  @include max-witch;
  margin-bottom: 163px;
}

@mixin question {
  font-size: 13px;
  color: #d4af37;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-bottom: 22px;
  text-align: center;
}

.inex_question {
  @include question
}

@mixin subtitle {
  color: $color;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 44px;
  text-align: center;
}

.inex_About_Yourself h2{
  @include subtitle;
  margin-bottom: 55px;
}

@mixin font {
  color: $color;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 33px;
  text-align: center;
}

.inex_Tell_The_World_About_Yourself {
  @include font;
  margin-bottom: 70px;
}


@mixin button {
  border: solid 1px black;
  text-decoration: none;
  color: $color;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
}


.inex_button {
  @include button;
  padding: 23px 48px;
}

.inex_work h2 {
  @include subtitle;
  margin-bottom: 92px;
}

.inex_photo {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  margin-bottom: 159px;
}


.inex_photo img {
  margin-left: 4px;
  margin-bottom: 3px;
  width: 24%;
}

.inex_people {
  @include max-witch;
  margin-bottom: 165px;
  text-align: start;
}

.inex_people h2 {
  @include subtitle;
  margin-bottom: 57px;
}

.inex_The_Amazing_People_Behind_This {
  @include font;
  margin-bottom: 50px;
}

@mixin display_flex {
  display: flex;
  justify-content: space-between;
}

.inex_Photo_name {
  @include display_flex
}

@mixin back {
  background-color: #f9f9f9;
  position: relative;
}

.inex_Tobias_Schneider {
  @include back;
  bottom: 4px;
  padding: 20px 17px 48px;
}

.inex_Tobias_Schneider h4 {
  font-size: 13px;
  color: $color;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-bottom: 21px;
}

.inex_Tobias_Schneider h3 {
  color: $color;
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 21px;
  margin-bottom: 37px;
}

.inex_Tobias_Schneider p {
  color: $color;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  max-width: 207px;
  margin: auto;
  padding-right: 15%;
}

.inex_last_post {
  @include max-witch;
  margin-bottom: 162px;
  text-align: start;
}

.inex_last_post h2 {
  @include subtitle;
  margin-bottom: 57px;
}

.inex_flex {
  @include display_flex;
  margin-bottom: 84px;
}

.last_post img {
  display: inline-block;
}

.inex_We_Like_to_Write {
  @include back;
  padding: 43px 40px 50px;
}

.inex_data {
  color: $color;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: normal;
  margin-bottom: 20px;
}

.inex_Your_space {
  color: $color;
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: normal;
  margin-bottom: 33px;
}

.inex_We_Like_to_Write p {
  color: $color;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 58px;
  line-height: 28px;
}

.inex_button_read {
  @include button;
  padding: 18px 46px;
}

.inex_button_More_From_Our_Blog {
  text-align: center;
  margin-bottom: 162px;
}

.inex_button_More_From_Our_Blog  a{
  @include button;
  padding: 23px 50px;
}

.inex_contact {
  @include max-witch
}

.inex_contact h2 {
  @include subtitle;
  margin-bottom: 57px;
}

.inex_map {
  position: relative;
  max-width: 767px;
  height: 295px;
}

.inex_feedback {
  @include back;
  @include display_flex;
  padding: 52px 0 47px;
  width: 100%;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.inex_feedback_data {
  width: 50%;
  text-align: center;
}

.inex_feedback .inex_feedback_data:nth-child(2) {
  margin-bottom: 97px;
}

.inex_map_class {
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #505d68;
  margin-bottom: 50px;
}

.inex_feedback_data p {
  font-size: 19px;
  color: #505d68;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 34px;
}

footer {
  background-color: #eeeeee;
  padding: 41px 0 39px;
}

.footer {
  max-width: 770px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: $color;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.owl-drag {
  text-align: center;
}

.owl-dots {
  position: relative;
  bottom: 150px;
}


.owl-dot span{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;


}

.owl-dot.active span {

  background-color: white;
  width: 15px;
  height: 15px;
}



.blog_header {
  position: absolute;
  width: 100%;
  padding-top: 16px;
}

.blog_container {
  max-width: 1185px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.blog_header div a {
  display: inline-block;
}

.menu {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 600;
}


.blog_background_header {
  background-image: url("../img/blog_back.jpg");
  @include background;
  height: 400px;
  margin-bottom: 78px;
}


.blog_background {
  max-width: 1151px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 64px 63px 87px;
  margin-bottom: 79px;
}

.blog_flex_container {
  display: flex;
  justify-content: flex-start;
}


.blog_image_container {
  margin-right: 58px;
}


.blog_image {
  background-color: white;
  padding: 32px 34px 49px;
  margin-bottom: 57px;
}

.blog_image img {
  margin-bottom: 33px;
}

.blog_image h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.blog_image h4 {
  color: #d3b000;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 36px;
}

.blog_image p {
  max-width: 584px;
  font-family: 'Cardo';
  font-weight: normal;
  color: #021725;
  font-size: 16px;
  margin-bottom: 72px;
}

.blog_image a {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-decoration: none;
  color: #021725;
  border: solid 1px black;
  padding: 17px 54px;
}

.blog_image:nth-child(2) {
  margin-bottom: 79px;
}

.blog_list {
  padding-top: 4px;
  width: 298px;
}

.blog_list .blog_Name {
  color: #021725;
  font-size: 23px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 27px;
}


.blog_list .blog_Name:after {
  display: block;
  content: "";
  background-color: #d3b000;
  height: 4px;
  margin-top: 18px;
}

.blog_title {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  color: #021725;
  line-height: 25px;
}

.blog_title:nth-child(5), .blog_title:nth-child(10) {
  margin-bottom: 41px;
}

.blog_Name:nth-child(6) {
  margin-bottom: 28px;
}

.blog_Name:nth-child(11) {
  margin-bottom: 25px;
}

.blog_button {
  text-align: center;
}

.blog_button_link {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-decoration: none;
  color: #021725;
  border: solid 1px black;
  padding: 22px 54px;
}


@import "media.css";

