* {
    margin: 0;
    padding: 0;
}

.inex_header {
    position: absolute;
    width: 100%;
    padding-top: 16px;

}

.inex_container {
    max-width: 1185px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inex_header div a {
    display: inline-block;
}

.menu {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
}

.inex_background {
    background-image: url("../img/back.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inex_background h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.inex_background h1 span {
    font-family: 'Open Sans';
    font-style: italic;
}

.inex_About_Yourself {
    max-width: 770px;
    margin: auto;
    text-align: center;
    margin-bottom: 163px;
}

.inex_question {
    font-size: 13px;
    color: #d4af37;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 22px;
    text-align: center;
}

.inex_About_Yourself h2 {
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 55px;
}

.inex_Tell_The_World_About_Yourself {
    color: #747a7f;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 46px;
}

.inex_button {
    border: solid 1px black;
    padding: 23px 48px;
    text-decoration: none;
    color: #021725;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
}


.inex_work h2 {
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 92px;
    text-align: center;
}

.inex_photo {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    margin-bottom: 159px;


}

.inex_photo img {
    margin-left: 4px;
    margin-bottom: 3px;
    width: 24%;
}

.inex_people {
    max-width: 770px;
    margin: auto;
    margin-bottom: 165px;
}


.inex_people h2 {
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 57px;
    text-align: center;
}

.inex_The_Amazing_People_Behind_This {
    color: #747a7f;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 50px;
    text-align: center;
}

.inex_Photo_name {
    display: flex;
    justify-content: space-between;
}

.inex_Tobias_Schneider {
    background-color: #f9f9f9;
    padding: 20px 17px 48px;
    position: relative;
    bottom: 4px;
}

.inex_Tobias_Schneider h4 {
    font-size: 13px;
    color: #d4af37;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 21px;
}

.inex_Tobias_Schneider h3 {
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 21px;
    margin-bottom: 37px;
}

.inex_Tobias_Schneider p {
    color: #747a7f;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 25px;
    max-width: 207px;
    margin: auto;
    padding-right: 15%;
}

.inex_last_post {
    max-width: 770px;
    margin: auto;
}

.inex_last_post h2 {
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 57px;
    text-align: center;
}

.inex_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.last_post img {
    display: inline-block;
}

.inex_We_Like_to_Write {
    background-color: #f9f9f9;
    padding: 43px 40px 50px;
    display: inline-block;
    position: relative;
    right: 3px;

}

.inex_data {
    color: #505d68;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    margin-bottom: 20px;
}

.inex_Your_space {
    color: #505d68;
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: normal;
    margin-bottom: 33px;
}

.inex_We_Like_to_Write p {
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom: 58px;
    line-height: 28px;
}

.inex_button_read {
    border: solid 1px black;
    padding: 18px 46px;
    text-decoration: none;
    color: #505d68;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.inex_button_More_From_Our_Blog {
    text-align: center;
    margin-bottom: 162px;
}

.inex_button_More_From_Our_Blog a {
    text-decoration: none;
    border: solid 1px black;
    padding: 23px 50px;
    color: #505d68;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.inex_contact {
    max-width: 767px;
    margin: auto;
}

.inex_contact h2{
    color: #747a7f;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 57px;
    text-align: center;
}

.inex_map {
    position: relative;
    max-width: 767px;
    height: 295px;
}

.inex_feedback {
    background-color: #f9f9f9;
    padding: 52px 0 47px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.inex_feedback_data {
    width: 50%;
    text-align: center;
}

.inex_feedback .inex_feedback_data:nth-child(2) {
    margin-bottom: 97px;
}

.inex_map_class {
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #505d68;
    margin-bottom: 50px;
}

.inex_feedback_data p {
    font-size: 19px;
    color: #505d68;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 34px;
}

footer {
    background-color: #eeeeee;
    padding: 41px 0 39px;
}

.footer {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
}








.about_header {
    position: absolute;
    width: 100%;
    padding-top: 16px;

}

.about_container {
    max-width: 1185px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about_header div a {
    display: inline-block;
}

.about_background {
    background-image: url("../img/back_about.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin-bottom: 166px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.id {
    padding-bottom: 55px;
}

.about_paragraph {
    max-width: 770px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #021725;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 160px;
}

.about_service {
    position: relative;
    top: 5px;
    display: flex;
    align-items: center;
}



.about_service_content {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 48px 57px 52px;
    width: 100%;
    position: relative;
    bottom: 1px;
}

.about_service h2 {
    color: #505d68;
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 92px;
}

.about_service_paragraph {
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans';
    font-weight: 300;
    max-width: 208px;
    display: inline-block;
}



.about_list {
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.about_list ul {
    list-style: none;
}

.about_flex {
    display: flex;
    justify-content: space-between;
}






.blog_header {
    position: absolute;
    width: 100%;
    padding-top: 16px;
}

.blog_container {
    max-width: 1185px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blog_header div a {
    display: inline-block;
}

.menu {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
}

.blog_background_header {
    background-image: url("../img/blog_back.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 78px;
}

.blog_background {
    max-width: 1151px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 64px 63px 87px;
    margin-bottom: 79px;
}

.blog_flex_container {
    display: flex;
    justify-content: flex-start;
}

.blog_image_container {
    margin-right: 58px;
}

.blog_image {
    background-color: white;
    padding: 32px 34px 49px;
    margin-bottom: 57px;
}

.blog_image img {
    margin-bottom: 33px;
}

.blog_image h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.blog_image h4 {
    color: #d3b000;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom: 36px;
}

.blog_image p {
    max-width: 584px;
    font-family: 'Cardo';
    font-weight: normal;
    color: #021725;
    font-size: 16px;
    margin-bottom: 72px;
}

.blog_image a {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    text-decoration: none;
    color: #021725;
    border: solid 1px black;
    padding: 17px 54px;
}

.blog_image:nth-child(2) {
    margin-bottom: 79px;
}

.blog_list {
    padding-top: 4px;
    width: 298px;
}

.blog_list .blog_Name {
    color: #021725;
    font-size: 23px;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom: 27px;
}


.blog_list .blog_Name:after {
    display: block;
    content: "";
    background-color: #d3b000;
    height: 4px;
    margin-top: 18px;
}

.blog_title {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    color: #021725;
    line-height: 25px;
}

.blog_title:nth-child(5), .blog_title:nth-child(10) {
    margin-bottom: 41px;
}

.blog_Name:nth-child(6) {
    margin-bottom: 28px;
}

.blog_Name:nth-child(11) {
    margin-bottom: 25px;
}

.blog_button {
    text-align: center;
}

.blog_button_link {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
    text-decoration: none;
    color: #021725;
    border: solid 1px black;
    padding: 22px 54px;
}












.contact_header {
    position: absolute;
    width: 100%;
    padding-top: 16px;

}

.contact_container {
    max-width: 1185px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.contact_header div a {
    display: inline-block;
}

.contact_background {
    background-image: url("../img/contact_back.jpg");
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 128px;
}

.contact_section {
    max-width: 770px;
    margin: auto;

}

.contact_section h3 {
    text-align: center;
    color: #d4af37;
    font-size: 13px;
    margin-bottom: 24px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.contact_section h2 {
    color: #747a7f;
    font-size: 44px;
    text-align: center;
    margin-bottom: 87px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.contact_flex_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 99px;
}

.contact_country {
    font-size: 23px;
    color: white;
    line-height: 32px;
    max-width: 182px;
    background-color: #d3b000;
    padding: 33px 32px;
    margin-right: 3px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.contact_country:before {
    display: block;
    content: "";
    background-color: white;
    height: 3px;
    width: 31px;
    margin-bottom: 46px;
}

.contact_description {
    max-width: 360px;
    font-size: 20px;
    color: #323d43;
    background-color: #f9f9f9;
    padding: 48px 47px;
    line-height: 32px;
    margin-right: 1px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.contact_number {
    color: white;
    max-width: 230px;
    background-color: black;
    padding: 33px 32px;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Open Sans';
    font-weight: normal;
}

.contact_border:before {
    display: block;
    content: "";
    height: 3px;
    background-color: white;
    width: 31px;
    margin-bottom: 46px;
}

.contact_button {
    text-align: center;
    margin-bottom: 107px;

}

.contact_button a {
    text-decoration: none;
    font-size: 14px;
    color: #021725;
    border: solid 1px black;
    padding: 22px 58px;
    font-family: 'Open Sans';
    font-weight: 300;
}

